{% extends "layout.html" %}

{% block title %}
	Welcome
{% endblock %}

{% block main %}
<container>
    <p class="pt-2 pb-2" style="font-size: 44px; font-weight: bold">Play around for fun!</p>
    <div class="w-75" style="margin: 0 auto;">
        <p style="font-size: 16px;">
            Buy and sell U.S. stocks with no commitment, hassel or cost. Track your progress over time. Hone your skills 
            before trading with your hard earned money. Everyone should feel empowered to take part in the market. The only downside 
            is not giving this a try!
        </p>
        <p class="p-0">
            Designed for fun. No Stress, pressure or ADs. Not intended to place actual trades. 
        </p>
    </div>
    <div class="pt-4">
        <a class="btn btn-primary btn-lg" href="/register" role="button">Register today!</a>
    </div>
</container>
{% endblock %}
