{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
<div class="row justify-content-center">
	<div class="card borderless">
		<div class="card-body">
			<div class="pb-2">
				<h4>Change Password</h4>
			</div>
			<div class="pb-2">
				<p>Enter a new password for your account.</p>
			</div>
			<form method="POST" 
			{% if token != None %} action="/change-password?token={{ token }}" {% else %} action="/change-password" {% endif %}>
				{{ form.csrf_token }}
				{{ wtf.form_field(form.password, class='text-left form-control') }}
				{{ wtf.form_field(form.confirm, class='text-left form-control') }}
				<div class="pb-3">
					<span class="p-0 m-0" id="password-strength-text"></span>
					<meter max="4" id="password-strength-meter"></meter>
				</div>
				<input type="submit" class='btn btn-primary' value="Change Password">
			</form>
			{% if session.user_auth %} 
			<div class=pt-4>
				<p><a href="/account"><u>Back to Account</u></a></p>
			</div>
			{% endif %}
		</div>
	</div>
<script>
	$('#password').passwordStrengthMeter();
</script>	
{% endblock %}
