{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
	Change Email
{% endblock %}

{% block main %}
<div class="row justify-content-center">
	<div class="card borderless">
		<div class="card-body">
			<div class="pb-2">
				<h4>Change Email</h4>
			</div>
			<div class="pb-2">
				<p>Enter a new email address for your account.</p>
			</div>
			<form method="POST" action="/change-email">
				{{ form.csrf_token }}
				{{ wtf.form_field(form.email, class='text-left form-control') }}
				{{ wtf.form_field(form.confirm, class='text-left form-control') }}
				<input type="submit" class='btn btn-primary' value="Change Email">
			</form>
			<div class=pt-4>
				<p><a href="/account"><u>Back to Account</u></a></p>
			</div>  
		</div>
	</div>
</div>
{% endblock %}
