{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
	Password Reset
{% endblock %}

{% block main %}
<div class="row justify-content-center">
	<div class="card borderless">
		<div class="card-body">
			<div class="pb-2">
				<h4>Reset Password</h4>
			</div>
			<div class="pb-2">
				<p>Please enter your username below to receive a link to reset your password.</p>
			</div>
			<form method="POST" action="/reset-password">
				{{ form.csrf_token }}
				{{ wtf.form_field(form.username, class='text-left form-control') }}
				<input type="submit" class='btn btn-primary' value="Reset">
			</form>
			<div class=pt-4>
				<p><a href="/login"><u>Back to Login</u></a></p>
			</div>  
		</div>
	</div>
</div>
{% endblock %}
